:root {
  --basic-black: #000;
  --basic-red-light: #FB565A;
  --basic-red-neutral: #E74246;
  --basic-red-dark: #D7373B;
  --basic-white: #FFF;
  --basic-white2: #CFCFCF;
  --basic-green-light: #00CA74;
  --basic-green-neutpal: #00BC6C;
  --basic-green-dark: #00AA62;
  --basic-yellow-light: #EFC84A;
  --basic-yellow-neutral: #EAB534;
  --basic-yellow-dark: #E5A722;
  --basic-gray-light: #444;
  --basic-gray-light: #EEE;
  --basic-gray-neutral: #666;
  --basic-gray-dark: #283136;
  --basic-gray-neutral1: #DFDFDF;
  --basic-gray-dark1: #D5D5D5;
  --basic-gray-dark2: #D7DCDE;
  --basic-gray-dark3: #B4B9BB;
  --basic-gray-dark4: #E1E1E1;
  --basic-gray-dark5: #F1F1F1;
  --basic-gray-dark6: #ABABAB;
  --basic-gray-dark7: #4D4D4D;
  --basic-gray-dark8: #DBDBDB;
}

body {
  min-width: 1160px;
  margin:0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  background: var(--basic-gray-light);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.navigation-list {
	list-style: none;
}

.navigation-title {
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-black);
  padding: 5px 0 5px 3px;
  border-bottom: 1px solid transparent;
}

.navigation-title:hover {
  color: var(--basic-red-light);
}

.navigation-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-title.active {
  border-color: var(--basic-red-light);
  border-bottom: 2px solid #FB565A;
}

.main-header-logo {
  position: relative;
  top: -5px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 0 10px;
}

.site-navigation {
  padding-right: 3.2%;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__list li {
  margin-left: 13px;
  margin-right: 13px;
}

.site-navigation a {
  display: block;
  padding: 13px 10px;
}

.user-navigation .login-link {
  position: relative;
}

.login-link::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation a {
  display: block;
  text-align: right;
  padding: 75px 0 20px 20px;
}

.slider-wrapper {
  position: relative;
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--basic-gray-light);
}

.slider-slides {
  margin: 0;
  padding: 0;
}

.slider-name {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin-bottom: 25px;
  margin-top: 0;
}

.slider-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-gray-dark);
  margin-bottom: 39px;
  margin-top: 0;
}

.slider-controls {
  position: absolute;
  bottom: 86px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
}

.slider-controls button {
  padding: 0;
  font-size: 0;
  margin-left: 9px;
  margin-right: 8px;
  margin-bottom: 10px;
  width: 18px;
  height: 18px;
  background: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  position: relative;
}

.slider-controls button.active:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
}

.slide-button {
  text-align: center;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  min-width: 160px;
}

.slide1,
.slide2,
.slide3 {
  display: none;
}

.slide-active {
  display: block;
}

#button-1:checked ~ .site-wrapper #slide1,
#button-2:checked ~ .site-wrapper #slide2,
#button-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#button-1:checked ~ .site-wrapper label[for="button-1"],
#button-2:checked ~ .site-wrapper label[for="button-2"],
#button-3:checked ~ .site-wrapper label[for="button-3"] {
  background-color: #ffffff;
}

.slide-background {
  padding-top: 57px;
  padding-bottom: 65px;
}

.slide1 .slide-background {
  background-color: var(--basic-gray-light);
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 97.5% 100%;
}

.slide2 .slide-background {
  background-color: var(--basic-gray-light);
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 97.5% 100%;
}

.slide3 .slide-background{
  background-color: var(--basic-gray-light);
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 97.5% 100%;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/nerds-index-slide2.jpg");
}

.site-wrapper::after {
  background-image: url("../img/nerds-index-slide3.jpg");
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(248, 247, 244,0.4);
  outline: none;
}

.slider-slides a:hover,
.slider-slides a:focus {
  color: #ffffff;
  background-image:
    linear-gradient( to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient( to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
  outline: none;
}

.slider-slides a:active {
  background-image:
    linear-gradient( to top, rgba(000, 000, 000, 0.07) 0%, rgba(000, 000, 000, 0.07) 100%),
    linear-gradient( to top, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-information {
  padding-top: 80px;
}

.main-information .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.information-item {
  width: 300px;
  margin-right: 60px;
  padding: 0;
}

.information-item2 {
  width: 300px;
  margin-right: 60px;
  padding: 0;
}

.information-image {
  margin-bottom: 24px;
}

.information-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 20px;
	text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 19px;
}

.information-title2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 20px;
}

.information-title3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 20px;
}


.information-text {
	color: var(--basic-gray-dark);
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 33px;
}

.information-text2 {
  color: var(--basic-gray-dark);
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 33px;
}

.information-text3 {
  color: var(--basic-gray-dark);
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 33px;
}

.button {
  background: var(--basic-red-light);
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  color: var(--basic-white);
  padding-top: 17px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.button:hover {
  background: var(--basic-red-neutral);
}

.button:active {
  background: var(--basic-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.green--style {
  background: var(--basic-green-light);
}

.green--style:hover {
  background: var(--basic-green-neutpal);
}

.green--style:active {
  background: var(--basic-green-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow--style {
  background: var(--basic-yellow-light);
}

.yellow--style:hover {
  background: var(--basic-yellow-neutral);
}

.yellow--style:active {
  background: var(--basic-yellow-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.strip:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1158px;
  height: 2px;
  background: var(--basic-gray-light);
  margin-left: 373px;
  margin-bottom: -135px;
}


.main-advertising .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  margin-top: 85px;
  margin-bottom: 50px;
}

.advertsing1 {
  border-bottom: 1px solid transparent;
  width: 651px;
  height: 91px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 31px;
}

.advertsing2 {
  border-bottom: 1px solid transparent;
  width: 646px;
  height: 49px;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: var(--basic-gray-dark);
  margin-top: 0;
  margin-bottom: 39px;
}

.advertsing3 {
  border-bottom: 1px solid transparent;
  width: 306px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-gray-dark);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 17px;
}

.advertsing4 {
  border-bottom: 1px solid transparent;
  width: 440px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-gray-dark);
  list-style: none;
  padding: 0;
  padding-top: 4px;
  margin: 0;
}

.advertsing4 li {
  margin-bottom: 24px;
}

.advertsing4 li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  background: var(--basic-red-light);
  margin-right: 10px;
  margin-top: 1px;
}

.advertsing5 {
  border-bottom: 1px solid transparent;
  width: 358px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 1px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.advertsing6 .advertsing-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.advertsing-item {
  margin-left: 50px;
  margin-top: 14px;
}

.advertsing7 {
  margin-top: -3px;
  margin-bottom: 30px;
}


.advertsing8 {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  padding-right: 17px;
  padding-top: 7px;
}

.advertsing9 {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  padding-top: 9px;
  text-align: left;
}

.percent {
  font-size: 62%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.advertsing10 {
  margin-left: -4px;
  margin-right: -13px;
}

.strip2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1158px;
  height: 2px;
  background: var(--basic-gray-light);
  margin-left: 373px;
  margin-bottom: 48px;
}

.firm {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: -20px;
  margin-right: -20px;
}

.firm li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.firm a {
  opacity: 0.2;
}

.firm li+li:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 2px;
  height: 52px;
  background: var(--basic-gray-light);
  margin-right: 10px;
  margin-top: 1px;
}

.firm a:hover {
  color: #000;
  opacity: 1;
}

.firm a:active {
  color: #000;
  opacity: 0.1;
}

.strip3:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1158px;
  height: 2px;
  background: var(--basic-gray-light);
  margin-left: 373px;
  margin-bottom: -20px;
}

.map {
  position: relative;
  padding-top: 80px;
  grid-column: 1 / -1;
}

.map-image {
  width: 100%;
  height: auto;
}

.map .icon {
  position: absolute;
  top: 166px;
  left: 1056px;
}

.map img {
  display: block;
}

.address-map {
  position: absolute;
  left: 46%;
  top: 58%;
  width: 100%;
  max-width: 1000px;
  transform: translateX(-50%) translateY(-50%);
}

.address-map-holder {
  background: white;
  padding: 10px;
  display: inline-block;
  width: 297px;
  height: 289px;
  text-align: center;
}

.address-map-holder h3 {
  padding: 15px;
  margin-right: 29px;
  margin-bottom: -9px;
  margin-top: 29px;
  font-size: 18px;
}

.index {
  color: var(--basic-gray-neutral);
  margin-right: 32px;
  margin-bottom: -22px;
}

.street {
  color: var(--basic-gray-neutral);
  margin-right: 21px;
  margin-bottom: -4px;
}

.telephone {
   color: var(--basic-gray-neutral);
   margin-right: 53px;
   margin-bottom: 35px;
}

.write-button {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 219px;
}

.address-map-holder:hover .modal-login {
  opacity: 1;
  outline: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--basic-white);
  text-align: center;
  border: 2px solid var(--basic-white);
  opacity: 1;
  border-color: var(--basic-white);
  outline: none;
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-login {
  width: 960px;
  height: 590px;
}

.close {
  opacity: 0.3;
  border: 0;
  background: none;
  padding: 0;
  padding-left: 270px;
  margin-top: 62px;
}

.close:hover,
.close:focus {
  opacity: 1;
  outline: 0;
}

.close:active {
  opacity: 0.1;
}

.input-field2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-content: start;
}

.input-field1 {
  width: 755px;
  height: 110px;
}

.input-field3 {
font-weight: bold;
font-size: 45px;
line-height: 53px;
color: var(--basic-black);
text-align: left;
padding-left: 101px;
margin-top: 64px;
margin-bottom: 12px;
}

.input-field4 {
font-weight: bold;
font-size: 16px;
line-height: 18px;
color: var(--basic-black);
text-align: left;
padding-left: 183px;
margin-left: -81px;
margin-right: 0;
margin-bottom: 30px;
}

.input-field {
  width: 360px;
  height: 50px;
  background: var(--basic-white);
  border: 2px solid var(--basic-gray-dark2);
  box-sizing: border-box;
  border-radius: 3px;
  color: rgba(68, 68, 68, 0.5);
}

.input-field::placeholder {
  color: var(--basic-gray-light);
  opacity: 0.5;
}

.input-field:hover {
  border-color: var(--basic-gray-dark3);
}

.input-field:focus,
.input-field:focus::placeholder {
  border-color: var(--basic-black);
  color: var(--basic-gray-light);
  opacity: 1;
}

.input-field:invalid,
.input-field:invalid::placeholder {
  color: var(--basic-red-neutral);
  border-color: var(--basic-red-neutral);
}

.input-field5 {
  width: 259px;
  height: 50px;
  background: var(--basic-red-light);
  border-radius: 3px;
  outline: none;
  border-color: transparent;
  border-left: 145px;
  margin-top: 20px;
  margin-right: 610px;
}

.main-footer {
	padding: 70px 0;
  margin-right: 90px;
  color: var(--basic-black);
}

.main-footer .container {
  display: flex;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
	list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 46px;
  padding-right: 128px;
}

.footer-list li {
  padding-right: 7px;
  padding-bottom: 9px;
}

.footer-social {
  background: var(--basic-gray-dark4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-right: 5px;
}

.footer-social img:active {
  color: white;
  opacity: 0.3;
}

.footer-social:hover {
  background: var(--basic-red-neutral);
}

.footer-social:active {
  background: var(--basic-red-dark);
}

.footer-copyright {
  max-width: 660px;
  padding-top: 3px;
}

.footer-frendship {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
  margin-top: 2px;
  margin-left: 1px;
  margin-bottom: -5px;
}

.footer-discount {
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-gray-light);
}

.page-catalog {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  align-content: start;
}

.catalog-title {
  grid-column: 1 / -1;
}

.catalog {
  margin-top: 19px;
}


.shop-title {
  margin-top: 0;
  padding-bottom: 108px;
  padding-top: 54px;
  padding-right: 11px;
  background: var(--basic-gray-light);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.filter-column {
  margin-top: -92px;
}

.cost {
  margin-top: 115px;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.filter-item {
  margin-top: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-gray-dark5);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green-light);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray-dark6);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-white2);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  padding-left: 8px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-gray-dark);
  border: none;
  border-radius: 5px;
  background: var(--basic-gray-dark5);
  font-family: inherit;
  font-size: inherit;
}

.filters {
  padding-top: 5px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 25px;
}

.filter legend {
  font-weight: bold;
	font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.filter ul {
	font-size: 16px;
  padding: 0;
  margin-bottom: 19px;
  line-height: 19px;
  list-style: none;
  color: var(--basic-gray-dark);
  list-style: none;
}

.filter ul label:hover {
  color: var(--basic-gray-dark);
}

.filter ul input:disabled+label {
   color: var(--basic-gray-dark);
   opacity: 0.3;
}

.filter-option {
  margin-bottom: 21px;
  margin-left: 19px;
}

.gray--style {
  background: var(--basic-gray-light);
  color: var(--basic-black);
  border-color: transparent;
  width: 260px;
  height: 50px;
  margin-top: 4px;
}

.gray--style:hover {
  background: var(--basic-gray-neutral1);
  border-color: transparent;
}

.gray--style:active {
  background: var(--basic-gray-dark1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-color: transparent;
}

.gray--style:focus {
  background: var(--basic-gray-dark1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-color: transparent;
  outline: none;
}

.sort-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  margin-bottom: 48px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 246px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-right: 25px;
}

.triangle {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: -1px;
  margin-bottom: 4px;
  color: var(--basic-black);
  opacity: 0.3;
}

.triangle-app::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
  padding-right: 18px;
  content: "";
  width: 11px;
  height: 10px;
  background-image: url("../img/shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.triangle-down::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
  content: "";
  width: 11px;
  height: 10px;
  background-image: url("../img/shape2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sort-title:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sort-title:active {
  color: var(--basic-black);
  opacity: 1;
}

.triangle:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.triangle:active {
  color: var(--basic-black);
  opacity: 1;
}

.catalig-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  margin-left: 120px;
  list-style: none;
}

.catalog-item {
  width: 356px;
  min-height: 620px;
  margin-right: 45px;
  margin-bottom: 30px;
}

.catalog-item::before {
  display: block;
  height: 40px;
  width: 100%;
  content: "";
  background-image: url("../img/browser.svg");
  opacity: 0.12;
}

.catalog-item-image {
  display: block;
  position: relative;
}

.catalog-item_text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--basic-gray-light);
  text-align: center;
  border: 2px solid var(--basic-black);
  opacity: 0;
  width: 360px;
  height: 231px;
  border-color: transparent;
  outline: none;
}

.catalog-item-image:hover .catalog-item_text {
  opacity: 1;
  outline: none;
}

.catalog-item:hover::before {
   opacity: 1;
}

.catalog-item img:hover {
  background: var(--basic-gray-dark7);
}

.catalog-item img {
  background: var(--basic-gray-dark7);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 360px;
  height: 580px;
  margin: 0;
}

.store-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.store-title:hover {
  color: var(--basic-red-light);
}

.store-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.store-text {
  color: var(--basic-gray-neutral);
}

.button9900 {
  width: 200px;
  height: 50px;
  background: var(--basic-red-light);
  color: var(--basic-white);
  border-radius: 3px;
  outline: none;
  border-color: transparent;
}

.button9900:hover {
  background: var(--basic-red-neutral);
  outline: none;
}

.button9900:active {
  background: var(--basic-red-dark);
  outline: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 118px;
  list-style: none;
  margin-bottom: -20px;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;
  color: var(--basic-black);
  background-color: var(--basic-gray-light);
  height: 26px;
}

.pagination-item {
  margin-right: 14px;
  margin-top: 3px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a:hover {
  background: var(--basic-gray-neutral1);
  border-color: transparent;
}

.pagination-item a:focus {
  background: var(--basic-gray-dark1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-color: transparent;
  outline: none;
}

.pagination-item a:active {
  background: var(--basic-gray-dark1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  border: 3px solid var(--basic-gray-dark8);
  background: rgba(0, 0, 0, 0.0001);
  height: 20px;
}

.pagination-item-current1 a {
  width: 156px;
  height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 25px;
  padding-left: 76px;
}

.main-footer2 {
  padding: 70px 0;
  margin-right: 90px;
  color: var(--basic-black);
}

.main-footer2 .container {
  display: flex;
}
