:root {
  --basic-black: #000;
  --basic-red-light: #FB565A;
  --basic-red-neutral: #E74246;
  --basic-red-dark: #D7373B;
  --basic-white: #FFF;
  --basic-green-light: #00CA74;
  --basic-green-neutpal: #00BC6C;
  --basic-green-dark: #00AA62;
  --basic-yellow-light: #EFC84A;
  --basic-yellow-neutral: #EAB534;
  --basic-yellow-dark: #E5A722;
  --basic-gray-light: #444;
  --basic-gray-light: #EEE;
  --basic-gray-neutral: #666;
  --basic-gray-dark: #283136;
  --basic-gray-neutral1: #DFDFDF;
  --basic-gray-dark1: #D5D5D5;
}

body {
  min-width: 1160px;
  margin:0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  background: var(--basic-gray-light);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.navigation-list {
	list-style: none;
}

.navigation-title {
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-black);
  padding: 3px 3px 10px;
  border-bottom: 1px solid transparent;
}

.navigation-title:hover {
  color: var(--basic-red-light);
}

.navigation-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-title.active {
  border-color: var(--basic-red-light);
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 49px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation {
  width: 150px;
  padding-left: 50px;
}

.site-navigation a {
  display: block;
  padding: 75px 34px;
}

.user-navigation .login-link {
  padding-left: 50px;
  position: relative;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 82px;
  left: 14px;
  width: 15px;
  height: 11px;
  background-image: url("../img/cart-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
 opacity: 1;
}

.user-navigation a {
  display: block;
  padding: 75px 20px;
}

.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-information .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.information-item {
  width: 300px;
  margin-right: 60px;
  padding: 0;
}

.information-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.information-text {
	color: var(--basic-gray-dark);
}

.button {
  background: var(--basic-red-light);
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  color: var(--basic-white);
  padding-top: 17px;
  padding-bottom: 15px;
  padding-right: 89px;
  padding-left: 88px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.button:hover {
  background: var(--basic-red-neutral);
}

.button:active {
  background: var(--basic-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.green--style {
  background: var(--basic-green-light);
}

.green--style:hover {
  background: var(--basic-green-neutpal);
}

.green--style:active {
  background: var(--basic-green-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow--style {
  background: var(--basic-yellow-light);
}

.yellow--style:hover {
  background: var(--basic-yellow-neutral);
}

.yellow--style:active {
  background: var(--basic-yellow-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.main-footer {
	padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-black);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
	list-style: none;
	text-align: center;
  width: 300px;
}

.footer-list li {
  padding-right: 9px;
  padding-bottom: 9px;
}

.footer-social {
  background: #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  margin: 0 auto;
}

.footer-social:hover {
  background: var(--basic-red-neutral);
}

.footer-social:active {
  background: var(--basic-red-dark);
}

.footer-social:active img{
  color: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  max-width: 660px;
  margin: 0;
  justify-self: end;
}

.footer-frendship {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
}

.footer-discount {
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-gray-light);
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.shop-title {
  margin: 0;
  margin-bottom: 160px;
  padding: 0;
  grid-column: 1 / -1;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.filters {
  margin-top: 186px;
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 46px;
}

.filter legend {
  font-weight: bold;
	font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filter ul {
	font-size: 16px;
  padding: 0;
  margin-bottom: 0;
  line-height: 19px;
  list-style: none;
  color: var(--basic-gray-dark);
  list-style: none;
}

.filter ul label:hover {
  color: var(--basic-gray-dark);
}

.filter ul input:disabled+label {
   color: var(--basic-gray-dark);
   opacity: 0.3;
}

.filter-option {
  margin-bottom: 16px;
}

.gray--style {
  background: var(--basic-gray-light);
  color: var(--basic-black);
  border-color: transparent;
}

.gray--style:hover {
  background: var(--basic-gray-neutral1);
  border-color: transparent;
}

.gray--style:active {
  background: var(--basic-gray-dark1);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-color: transparent;
}

.catalog {
  margin-left: 140px;
}

.catalig-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.list-link {
  opacity: 0.12;
}

.catalog-item {
  width: 350px;
  min-height: 620px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 360px;
  height: 580px;
  margin: 0;
}


/*
.main-store {
	color: black;
}

.store-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
    color: #000;
}

.store-text  {
	line-height: 18px;
	text-align: center;
	color: #666;
}
*/

.none,
.none1 {
  display: none;
}






